body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(#ffdde1, #ee9ca7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: linear-gradient(#20bbb4, #aa08ce);
}

.card {
  background: rgb(234, 210, 227);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

button {
  background: #ff5e78;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.snow span {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1.5rem;
  animation: caer 10s linear infinite;
  opacity: 0.8;
}

/* Posiciones y tiempos distintos */
.snow span:nth-child(1) { left: 10%; animation-duration: 8s; }
.snow span:nth-child(2) { left: 20%; animation-duration: 12s; }
.snow span:nth-child(3) { left: 30%; animation-duration: 10s; }
.snow span:nth-child(4) { left: 40%; animation-duration: 14s; }
.snow span:nth-child(5) { left: 50%; animation-duration: 9s; }
.snow span:nth-child(6) { left: 60%; animation-duration: 11s; }
.snow span:nth-child(7) { left: 70%; animation-duration: 13s; }
.snow span:nth-child(8) { left: 80%; animation-duration: 10s; }
.snow span:nth-child(9) { left: 90%; animation-duration: 15s; }
.snow span:nth-child(10){ left: 95%; animation-duration: 8s; }

@keyframes caer {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(110vh);
  }
}
.recuerdo {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

.recuerdo img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.recuerdo p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #fff;
}

.recuerdo button {
  background: #ff5e78;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
/* SECCIÓN SUPERIOR */
.hero {
  min-height: 100vh;
  background: linear-gradient(#5fdaf3, #a8f3b6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* SECCIÓN INFERIOR */
.detalle {
  min-height: 100vh;
  background: linear-gradient(#ffdde1, #ee9ca7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LO QUE YA TENÍAS */
.recuerdo {
  max-width: 400px;
  text-align: center;
}
